.text-inherit,
.text-inherit .v-btn {
  text-transform: none !important;
}

/* AppBar */
#core-app-bar {
  width: auto;
}
#core-app-bar a {
  text-decoration: none;
}
/* Footer */
#core-footer {
  z-index: 0;
}

/* helper/Offset */
.v-offset {
  margin: 0 auto;
  max-width: calc(100% - 32px);
  position: relative;
  z-index: 1;
}
.v-offset--full-width {
  max-width: 100%;
}

.v-input--is-focused.v-text-field--rounded.v-overflow-btn.v-select--is-menu-active .v-input__slot,
.v-input--is-focused.v-text-field--rounded.v-overflow-btn .v-input__slot,
.v-text-field--rounded.v-overflow-btn.v-select--is-menu-active .v-input__slot {
  border-radius: 28px;
}
