html,
body {
  font-size: 16px;
}
.text-inherit {
  text-transform: none !important;
}
/* AppBar */
#core-app-bar {
  width: auto;
}
#core-app-bar a {
  text-decoration: none;
}
/* Footer */
#core-footer {
  z-index: 0;
}

/* helper/Offset */
.v-offset {
  margin: 0 auto;
  max-width: calc(100% - 32px);
  position: relative;
  z-index: 1;
}
.v-offset--full-width {
  max-width: 100%;
}
